<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

    <h2><%= categoryDetails.name %></h2>

    <ul>
        <% projects.forEach(project => { %>
            <li><a href="/project/<%= project.project_id %>"><%= project.title %></a></li>
        <% }) %>
    </ul>

    <% if (user && user.role_name === 'admin') { %>
        <a href="/edit-category/<%= categoryDetails.category_id %>">Edit Category</a>
    <% } %>
</main>
<%- include('partials/footer') %>