<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <h2>Upcoming Service Projects</h2>
    <ul>
        <% projects.forEach(project => { %>
            <li><%= project.project_date.toISOString().split('T')[0] %>:&nbsp;<a href="/project/<%= project.project_id %>"><%= project.title %></a>&nbsp;(<a href="/organization/<%= project.organization_id %>"><%= project.name %></a>)</li>
        <% }); %>
    </ul>

</main>

<%- include('partials/footer') %>