
<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <h2>Upcoming Service Projects</h2>
    <ul>
        <% projects.forEach(project => { %>
            <li><%= project.project_date.toISOString().split('T')[0] %>: <%= project.title %> (<%= project.organization_name %>)</li>
        <% }); %>
    </ul>

</main>

<%- include('partials/footer') %>