<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

    <h2><%= projectDetails.title %></h2>

    <p>Description: <%= projectDetails.description %></p>
    <p>Date: <%= projectDetails.project_date.toISOString().split('T')[0] %></p>
    <p>Location: <%= projectDetails.project_location %></p>
    <p>Partner Organization: <a href="/organization/<%= projectDetails.organization_id %>"><%= projectDetails.name %></a></p>
    <p>Categories: </p>
    <ul>
        <% categories.forEach(category => { %>
            <li><a href="/category/<%= category.category_id %>"><%= category.name %></a></li>
        <% }); %>
    </ul>

    <% if (user) { %>
        <% if (isVolunteer) { %>
            <p>You are volunteering for this project.</p>
            <a href="/project/<%= projectDetails.project_id %>/unvolunteer">Withdraw</a>
        <% } else { %>
            <a href="/project/<%= projectDetails.project_id %>/volunteer">Volunteer</a>
        <% } %>
    <% } %>

    <% if (user && user.role_name === 'admin') { %>
        <a href="/assign-categories/<%= projectDetails.project_id %>">Edit Categories</a><br>
        <a href="/edit-project/<%= projectDetails.project_id %>">Edit Project</a>
    <% } %>
</main>
<%- include('partials/footer') %>